<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <script th:src="@{/js/jquery-1.10.2.min.js}"></script>
</head>
<body>

<h2 class="login_title">用户登录</h2>
		
		<form th:action="@{/user/index}" th:method="post">
			<div class="formDiv">
		        <div class="rowDiv">
		        	<div class="inputName">用户名 : </div>
		            <div class="inputMain"><input type="text" name="userName" id="" class="form-control" value=""/></div>
		        </div>
		        <div class="rowDiv">
		        	<div class="inputName">密&nbsp;&nbsp;码 : </div>
		            <div class="inputMain"><input type="text" name="pwd" id="" class="form-control" value=""/></div>
		        </div>
		        <div class="rowDiv">
		        	<button type="submit" class="btn btn-success">登录</button>
		        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		        	<button type="button" class="btn btn-danger">撤销</button>
		        </div>
	        </div>
	       
		</form>
</body>

<script type="text/javascript">
	/* window.onload=function(){
		var str = "lihaiwei1995"
		var s1 = str.split("").reverse().join("");
		alert("s1==>"+s1);
	} */
</script>

</html>